body {
    margin: 60px auto;
    margin-top: 10px;
    width: 80%;
    background-color: #33E0FF;
}
nav ul{
    font-family:'Courier';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: small;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
a {
    color: black;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Courier';
}
p, li {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


/* Style individual menu items */
.social-icons li {
    margin-right: 20px; /* Add spacing between menu items */
}

/* Style anchor links */
.social-icons a, .menus a{
    color: black; /* Text color for icons (white) */
    text-decoration: none;
    font-size: 24px; /* Adjust icon size */
}

.pdf-button {
    display: inline-block;
    width: 200px; /* Adjust the width as needed for a rectangular shape */
    height: 50px; /* Adjust the height as needed */
    background-color: #1c6bff; /* Button background color */
    color: #fff; /* Text color */
    text-align: center;
    line-height: 50px; /* Vertically center text */
    text-decoration: none; /* Remove underline from the link */
    font-size: 16px;
    font-family: monospace;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
}

.pdf-button a, .back-to-top a {
    color: #fff; /* Text color for the link */
    text-decoration: none; /* Remove underline from the link */
}

.pdf-button:hover, .back-to-top:hover {
    background-color: #022a75; /* Hover color */
}

.introTitle {
    font-size: 30vh;
    margin-top: 0;
    margin-bottom: 0;
}

header {
    text-align: right; /* Right-align text within the header */
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: flex-end; /* Align items to the flex-end (right) */
}

.sectionHeader {
    display: flex; /* Use flexbox to control alignment */
    align-items: center; /* Vertically center elements */   
}

.back-to-top {
    display: inline-block;
    background-color: #1c6bff; /* Button background color */
    color: #fff; /* Text color */
    text-align: center;
    text-decoration: none; /* Remove underline from the link */
    font-family: monospace;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    margin: 20px; 
    border: none;
    font-size: 3em;
    line-height: 45px;
}

.image-with-text {
    display: flex;
    align-items: center;
  }

  .image-with-text img {
    max-height: 100px; /* Adjust the image width as needed */
    max-width: 100px;
    margin-right: 40px; /* Add some spacing between the image and text */
  }